.main {
  &-container {
    padding: 40px;
    border-radius: 15px;
    background-color: #FFFFFF;
    margin-top: 100px;
  }

  &-block {
    width: 70%;
    margin: 0 auto 20px;
  }

  &-todolist__wrapper {
    max-width: 70%;
    width: 100%;
    margin: 0 auto;
  }
  &-modal__btn {
    display: block;
    margin: 20px auto;
  }

  &-tag {
    &__wrapper {
      max-width: 70%;
      width: 100%;
      margin: 0 auto 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 5px;
      border: 1px solid #112D4E;
      border-radius: 10px;
      padding: 15px;
    }
    &__list {
      max-width: 70%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: start;
      column-gap: 5px;
      row-gap: 5px;
      flex-wrap: wrap;
    }
  }
}