.input {
  padding: 5px;
  border: 1px solid #AAAAAA;
  font-size: 18px;
  background-color: #DBE2EF;
  border-radius: 5px;
  transition: all .3s linear;
  max-width: 500px;
  width: 100%;
  &:hover {
    background-color: #AAAAAA;
  }
  &:focus {
    outline: none;
    border: 2px solid #112D4E;
  }
}